@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+NZ+Basic+Guides&display=swap');
:root {
    --gameboardsize: 80vh;
    --gameboardspacer: 15px;
}

#gameboard {
    position: relative;
    width: var(--gameboardsize);
    height: var(var(--gameboardsize));
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: var(--gameboardspacer)
}

.gamespacer {
    position: relative;
    background-color: white;
    font-size: 10rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playwrite NZ Basic Guides", cursive;
    overflow: hidden;
}
